@import '../../../scss/_GLOBALS.scss';

.catalog-item-text h1:link, .catalog-item-text h1:visited {
    color: $black;
}

@media (min-width: 600px) {
.catalog-item {
    display: flex;
    flex-direction: row;
    margin: 2.5rem 5rem 2.5rem 5rem;
    background-color: $seconcol-darker-1;
    height: 15rem;

    border-radius: 25px;
}

.catalog-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 60%;
}

.catalog-item-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.catalog-item-img img {
    width: 13rem;
    padding: 2rem;
}

.catalog-item-text h1, .catalog-item-text p {
    color: $black;
}
}

@media (max-width: 600px) {
    .catalog-item {
        display: flex;
        flex-direction: column;
        margin: 2.5rem 2rem 2.5rem 2rem;
        background-color: $seconcol-darker-1;
        height: 15rem;
        justify-content: center;
    
        border-radius: 25px;
    }

    .catalog-item-img {
       display: none;
    }

    .catalog-item-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h1:link, h1:visited {
        color: $black;
    }
  }