@import '../../../scss/_GLOBALS.scss';

* {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.form-container {
    background-color: $seconcol-darker-1;
    border-radius: 25px;
    width: 70%;
    padding: 3%;
}

.form-container h1 {
    text-align: center;
}

.field {
    margin-top: 1rem;
}

.field-checkbox {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}