@import '../../../scss/_GLOBALS.scss';

.THREEd-element-container canvas {
   width: 10%;
}

.container3d-full-item {
   display: flex;
   flex-direction: row;
   justify-content: center;
   
   width: 10rem;
}