@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

$black: #000000;
$black-lighter-1: #1d1d1d;
$black-lighter-2: #686868;

$princol:#738FA1;
$princol-lighter-1:#86a5b8;
$princol-lighter-2: #a8cde4;
$princol-lighter-3: #bfe7ff;
$princol-darker-1: #90aec1;
$princol-darker-2: #6e8593;
$princol-darker-3: #576a76;

$seconcol: #EEEBDD;
$seconcol-lighter-1: #fffcec;
$seconcol-darker-1: #eee8c4;
$seconcol-darker-2: #eee3a5;
$seconcol-darker-3: #f8e681;

$defaultgrey: #ECECEC;
$defaultgrey-darker-1: #cccccc;
$defaultgrey-darker-2: #a8a7a7;

$defaultwhite: #FFFFFF;

$principal-font: 'Mulish', sans-serif;