@import '../../../scss/_GLOBALS.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: $principal-font;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    background-color: $seconcol;
}

.nav-bar-menuConcept li {
    list-style: none;
    text-decoration: none;
    margin-right: 2rem;
    color: $black-lighter-1;
}

.nav-bar-menuConcept a:visited {
    text-decoration: none;
    color: $black-lighter-1;
  }

.nav-bar-brand {
    display: flex;
    flex-direction: row;
}

.nav-bar-brand h1 {
    padding-left: 1rem;
}

.nav-bar-menuConcept h3 {
    display: inline-block;
    position: relative;
  }
  
.nav-bar-menuConcept h3:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $black-lighter-2;
    transform-origin: right;
    transition: transform 0.50s ease-out;
  }
  
.nav-bar-menuConcept h3:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }

a {
    text-decoration: none;
}

/* Quitamos la visibilidad  */
.hidden-visibility {
  display: none;
}

/* Animation for the logo text */
#logo-text {
    animation: 5s anim-lineUp;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

/* A partir de aquí comenzamos a trabajar las medias-queries */
@media (max-width: 500px) {
  .bigscreen-menu {
    display: none;
  }
}

@media (min-width: 500px) {
  .hamburger-react {
    display: none;
  }

  .bigscreen-menu {
    display: flex;
    flex-direction: row;
  }
}